@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  font-family: 'GeneralSans', sans-serif;

  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
input{
  border-bottom: 1px solid black;
}

/* @font-face {
  font-family: 'GeneralSans';
  src: url('./assets/fonts/GeneralSans-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
